<html>
  <head>
    <title>Welcome to Ansible!</title>
  </head>
  <body>
  <h1>NGINX Web Server, configured by Ansible</h1>
  <p>If you can see this, Ansible successfully perform an installation of NGINX. :-)</p>
  <p>Running on {{ ansible_host }} ...</p>
  </body>
</html>